[Unit]
Description=firewall
 
[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/root/x-network/firewall_script.sh
 
[Install]
WantedBy=multi-user.target