[Unit]
Description=XCASH DPOPS
 
[Service]
Type=simple
LimitNOFILE=64000
User=root
WorkingDirectory=/root/Installed-Programs/XCASH_DPOPS/build
ExecStart=/root/Installed-Programs/XCASH_DPOPS/build/XCASH_DPOPS
Restart=always
 
[Install]
WantedBy=multi-user.target