[Unit]
Description=XCASH DPOPS
 
[Service]
Type=simple
LimitNOFILE=infinity
LimitSTACK=infinity
User=root
WorkingDirectory=/root/Installed-Programs/XCASH_DPOPS/
ExecStart=/root/Installed-Programs/XCASH_DPOPS/XCASH_DPOPS
Restart=always
 
[Install]
WantedBy=multi-user.target