[Unit]
Description=X-Cash RPC wallet background process
After=network.target xcash-daemon.service
 
[Service]
Type=simple
User=${USER}
ExecStart=${XCASH_DIR}build/release/bin/xcash-wallet-rpc --wallet-file ${XCASH_WALLET_DIR}delegate-wallet --password ${WALLET_PASSWORD} --rpc-bind-port 18285 --confirm-external-bind --daemon-port 18281 --disable-rpc-login --trusted-daemon --log-file ${XCASH_LOGS_DIR}xcash-wallet-rpc.log
Restart=always
RestartSec=5
 
[Install]
WantedBy=multi-user.target