[Unit]
Description=firewall
 
[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/root/x-network/XCASH_DPOPS/scripts/firewall/firewall_script.sh
 
[Install]
WantedBy=multi-user.target